{% extends "base.html" %}

{%block content%}
welcome to our twitter app
<div id='tweets'>
    loading...
</div>

<script>
    function Likebtn(){
        return '<button class="btn btn-primary">Like</button>'
    }

    function formatedTweet(tweet){
        var formatedtweet = "<div class='mb-4 tweet' id='tweet-"+tweet.id+"'<p>"+tweet.content+
            "</p><div class='btn-group'>"+Likebtn()+
            "</div></div> "
        return formatedtweet
    }

    const tweetelement = document.getElementById('tweets')
     

    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweets'
    const responseType = 'json'

    xhr.responseType=responseType
    xhr.open(method, url)
    xhr.onload = function(){
        const serverResponse = xhr.response
        var listeditems = serverResponse.response
        console.log(serverResponse)
        var tweetstr = ''
        
    for (let i=0; i<listeditems.length; i++){
        console.log(listeditems[i])
        var tweetobj = listeditems[i]
        var currentItem = formatedTweet(tweetobj)
        tweetstr += currentItem
    }
    tweetelement.innerHTML = tweetstr
    }
    xhr.send()
</script>

{%endblock%}