{% extends "base.html" %}

{%block content%}
<div class="row text-center">
    <div class="col">
        <h2>welcome to our twitter app</h2>
    </div>
</div>

<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
        <form id='tweet-create-form' class='form' method='POST' action='/tweet-create'>
            {% csrf_token %}
            <div class="d-none alert alert-danger" id="tweet-create-form-error"></div>
            <input type="hidden" value='/home' name='next'/>
            <textarea required='required' class="form-control" name='content' placeholder="what's on your mind..."></textarea>
            <button type='submit' class='btn btn-secondary'>tweet</button>
        </form>
    </div>
</div>

<div class='row' id='tweets'>
    loading...
</div>

<script>

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function HandleTweetFormError(msg, display){
        let myErrorDiv = document.getElementById('tweet-create-form-error')
        if (display===true){
            // show error
            myErrorDiv.setAttribute("class", "d-block alert alert-danger")
            myErrorDiv.innerText=msg
        }
        else{
            // hide error
            myErrorDiv.setAttribute("class", "d-none alert alert-danger")
        }
    }

    function handleTweetSubmitFrom(event){
        event.preventDefault()
        const myForm = event.target
        const formData = new FormData(myForm)
        const url = myForm.getAttribute('action')
        const method = myForm.getAttribute('method')
        console.log(myForm.getAttribute('action'),myForm.getAttribute('method'))

        const xhr = new XMLHttpRequest()
        xhr.responseType = 'json'
        xhr.open(method,url)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH","XMLHttpRequest")
        xhr.setRequestHeader('X-Requested-With','XMLHttpRequest')
        const tweetelement = document.getElementById('tweets')
        xhr.onload=function(){
            if (xhr.status===201){
                const newTweet = xhr.response
                // const newTweetsJson = JSON.parse(newTweet)
                console.log(newTweet.likes)
                const newTweetElement = formatedTweet(newTweet)
                const oghtml = tweetelement.innerHTML
                tweetelement.innerHTML = newTweetElement+oghtml
                myForm.reset()
            }
            else if(xhr.status===400){
                const errorJson = xhr.response
                const contentError = errorJson.content
                let contentErrorMsg;
                if (contentError){
                    contentErrorMsg = contentError[0]
                    if (contentErrorMsg){
                        HandleTweetFormError(contentErrorMsg,true)
                     }
                }
                console.log(contentErrorMsg)

            }
            else if(xhr.status===500){
                alert("A server error occured, please try again later")
            }
            else if(xhr.status===401){
                alert("You must be logged in to tweet :(")
                window.location.href = "/login"
            }
            else if(xhr.status===403){
                alert("You need to be logged in to tweet :(")
                window.location.href = "/login"
            }
            // console.log(serverResponse)
            // loadtweets(tweetelement)
        }
        xhr.onerror = function(){
            alert('an Error occured while loading the page')
        }
        xhr.send(formData)
        
    }

    const tweetCreateEl = document.getElementById('tweet-create-form')
    tweetCreateEl.addEventListener('submit', handleTweetSubmitFrom)

    function handleTweetAction(tweet_id,currentLikes,action){
        const csrftoken = getCookie('csrftoken');
        const url = 'tweet_like/action'
        const method = 'POST'
        const xhr = new XMLHttpRequest()
        const data = JSON.stringify({
            id:tweet_id,
            action:action
        })

        
        xhr.open(method, url)
        xhr.setRequestHeader('Content-Type','application/json')
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH","XMLHttpRequest")
        xhr.setRequestHeader('X-Requested-With','XMLHttpRequest')
        xhr.setRequestHeader('X-CSRFToken', csrftoken)
        xhr.onload = function(){
            loadtweets(tweetelement)  
        }
        xhr.send(data)
    }

    function Retweet(tweet,currentLikes){
        return '<button class="btn btn-outline-success" onclick=handleTweetAction('+
        tweet.id+','+tweet.likes+',"retweet")>retweet</button>'
    }

    function UnLikebtn(tweet,currentLikes){
        return '<button class="btn btn-outline-primary" onclick=handleTweetAction('+tweet.id+','+tweet.likes+',"unlike")>unLike</button>'
    }

    function Likebtn(tweet,currentLikes){
        return '<button class="btn btn-primary" onclick=handleTweetAction('+tweet.id+','+tweet.likes+',"like")>'+
            tweet.likes +' Likes</button>'
    }


    function formatedTweet(tweet){
        var formatedtweet = "<div class='col-12 col-md-10 mx-auto border bg-light rounded py-3 mb-4 tweet' id='tweet-"+tweet.id+"'<p>"+tweet.content+
            "</p><div class='btn-group'>"+Likebtn(tweet)+UnLikebtn(tweet)+Retweet(tweet)+
            "</div></div> "
           
        return formatedtweet
    }


    const tweetelement = document.getElementById('tweets')
     
    function loadtweets(tweetsEl){
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = '/tweets'
        const responseType = 'json'

        xhr.responseType=responseType
        xhr.open(method, url)
        xhr.onload = function(){
            const serverResponse = xhr.response
            var listeditems = serverResponse
            // console.log(serverResponse)
            var tweetstr = ''
            
        for (let i=0; i<listeditems.length; i++){
            
            var tweetobj = listeditems[i]
            var currentItem = formatedTweet(tweetobj)
            tweetstr += currentItem
        }
        tweetelement.innerHTML = tweetstr
        }
        xhr.send()
    }

    loadtweets(tweetelement)
</script>

{%endblock%}