{% extends "base.html" %}

{%block content%}
<div class="row text-center">
    <div class="col">
        <h2>welcome to our twitter app</h2>
    </div>
</div>
<div class='row' id='tweets'>
    loading...
</div>

<script>
    function handleDidLike(tweet,currentLikes){
        console.log(tweet, currentLikes)
    }
    function Likebtn(tweet,currentLikes){
        return '<button class="btn btn-primary" onclick=handleDidLike('+tweet.id+',' +tweet.likes+')>'+tweet.likes +' Likes</button>'
    }

    function formatedTweet(tweet){
        var formatedtweet = "<div class='col-12 col-md-10 mx-auto border bg-light rounded py-3 mb-4 tweet' id='tweet-"+tweet.id+"'<p>"+tweet.content+
            "</p><div class='btn-group'>"+Likebtn(tweet)+
            "</div></div> "
        return formatedtweet
    }

    const tweetelement = document.getElementById('tweets')
     

    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweets'
    const responseType = 'json'

    xhr.responseType=responseType
    xhr.open(method, url)
    xhr.onload = function(){
        const serverResponse = xhr.response
        var listeditems = serverResponse.response
        console.log(serverResponse)
        var tweetstr = ''
        
    for (let i=0; i<listeditems.length; i++){
        console.log(listeditems[i])
        var tweetobj = listeditems[i]
        var currentItem = formatedTweet(tweetobj)
        tweetstr += currentItem
    }
    tweetelement.innerHTML = tweetstr
    }
    xhr.send()
</script>

{%endblock%}